/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --background-color: #f8f9fe;
  --title-color: #151827;
  --primary-color: #680262;
  --body-color: #85859b;
  --product-color: #f8f9fe;
  --white-color: #ffffff;
  --stroke-color: #cfd1dd;
  --hover-color: #490245;

  --font-size-link: 16px;
  --font-size-button: 16px;
}
